# Data Reformat
reformat unstructure data into structure
- <a href='#1'>1. task1</a> 
- <a href='#2'>2. task2</a> 
- <a href='#3'>3. task3</a>

In [1]:
%load_ext autoreload
%autoreload 2
import sys
import os 

import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import pyspark.sql.functions as F
from pyspark.sql import (
    SparkSession,
    Window,
    DataFrame as Spark_DataFrame
)

sys.path.append('../')
import conf

In [2]:
# global settings
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns',1000)
pd.set_option('display.width',100)
sns.set(rc={'figure.figsize':(11,4)})

In [3]:
# global variables
DEFAULT_MISSING_VALUE = 0
FONT = fm.FontProperties(fname = os.path.join(conf.LIB_DIR,'simsun.ttc'))

In [4]:
# functions
def __dummy():
    pass

In [6]:
! du -sh ../data/train_preliminary/*

4.0K	../data/train_preliminary/README
75M	../data/train_preliminary/ad.csv
553M	../data/train_preliminary/click_log.csv
9.4M	../data/train_preliminary/user.csv

In [7]:
! du -sh ../data/test/*

4.0K	../data/test/README
79M	../data/test/ad.csv
654M	../data/test/click_log.csv

In [8]:
# train - ad.csv
ad_df = pd.read_csv(os.path.join(conf.ROUND_ONE_TRAIN_DATA_DIR, 'ad.csv'))

In [9]:
ad_df.head()

   creative_id  ad_id product_id  product_category  advertiser_id industry
0            1      1         \N                 5            381       78
1            4      4         \N                 5            108      202
2            7      7         \N                 5            148      297
3            8      8         \N                 5            713      213
4            9      9         \N                 5            695      213

In [10]:
ad_df.describe()

        creative_id         ad_id  product_category  advertiser_id
count  2.481135e+06  2.481135e+06      2.481135e+06   2.481135e+06
mean   2.192008e+06  1.888107e+06      7.805932e+00   2.741624e+04
std    1.285497e+06  1.099764e+06      6.770557e+00   1.534631e+04
min    1.000000e+00  1.000000e+00      1.000000e+00   2.000000e+00
25%    1.076370e+06  9.391925e+05      2.000000e+00   1.497400e+04
50%    2.191948e+06  1.889017e+06      5.000000e+00   2.519700e+04
75%    3.304420e+06  2.839458e+06      1.800000e+01   3.825400e+04
max    4.445718e+06  3.812200e+06      1.800000e+01   6.296500e+04

In [11]:
ad_df.dtypes

creative_id          int64
ad_id                int64
product_id          object
product_category     int64
advertiser_id        int64
industry            object
dtype: object

In [12]:
ad_df['product_id'].unique()

array(['\\N', '34647', '59', ..., '24110', '34304', '23899'], dtype=object)