# Neural Network
build neural network
- <a href='#1'>1. data preprocess</a> 
- <a href='#2'>2. lstm</a> 
- <a href='#3'>3. task3</a>

In [1]:
# ! pip install tensorboardX -i http://mirrors.aliyun.com/pypi/simple/ --trusted-host mirrors.aliyun.com
%load_ext autoreload
%autoreload 2
import sys
import os 
import time

import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import torch 
import torch.nn as nn
from torch.nn.utils.rnn import pack_padded_sequence, pad_packed_sequence
from tensorboardX import SummaryWriter
from gensim.models import Word2Vec, KeyedVectors
from tqdm import tqdm
import pickle as pkl

sys.path.append('../')
import conf
from utils import (
timer,
get_time_diff,
check_columns,
LogManager,
build_iterater,
build_dataset
)
from models import (
lstm
)

In [2]:
# global settings
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns',1000)
pd.set_option('display.width',100)
sns.set(rc={'figure.figsize':(11,4)})

In [3]:
# global variables
DEFAULT_MISSING_VALUE = 0
DEFAULT_EMBEDDING_SIZE = 100
DEFAULT_INITIAL_VALUE = 0
UNK, PAD = '<UNK>', '<PAD>'  
MAX_VOCAB_SIZE = 10000000
use_label_cols = ['y']
FONT = fm.FontProperties(fname = os.path.join(conf.LIB_DIR,'simsun.ttc'))
LogManager.created_filename = os.path.join(conf.LOG_DIR, 'feature_engineering.log')
logger = LogManager.get_logger(__name__)

In [8]:
# functions
def __dummy():
    pass

### <a id='1'> 1.data preprocess</a>

In [11]:
train_fe_df = pd.read_feather(os.path.join(conf.DATA_DIR, 'neural_train_fe_df.feather'))

In [12]:
test_fe_df = pd.read_feather(os.path.join(conf.DATA_DIR, 'neural_test_fe_df.feather'))

In [13]:
train_fe_df.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry,age,gender,y
0,1,358946,216469,1,194447,8826.0,3,30464,NaN,6,1,16
1,1,652708,53492,1,49831,26858.0,3,29963,60.0,4,1,14
2,1,866186,220806,1,198186,NaN,12,18103,6.0,5,1,15
3,1,866186,63440,1,58787,87.0,2,22885,318.0,5,1,15
4,1,672438,20857,1,21792,NaN,18,22918,319.0,5,1,15

In [14]:
test_fe_df.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
0,1,3892830,112276,1,101587,NaN,18,8371,54.0
1,1,3530749,14391,1,15775,1261.0,2,10988,6.0
2,1,3711528,208390,1,187259,1261.0,2,10925,6.0
3,1,3711528,236102,1,212289,1261.0,2,19056,98.0
4,1,3998628,90699,1,82895,NaN,18,10955,238.0

In [20]:
index_cols, cate_cols, cont_cols, label_cols = check_columns(train_fe_df.dtypes.to_dict())

### <a id='2'> 2.lstm</a>

In [5]:
# train lstm
np.random.seed(1)
torch.manual_seed(1)
torch.cuda.manual_seed_all(1)
torch.backends.cudnn.deterministic = True  # 保证每次结果一样
config = lstm.Config(
    model_name='lstm', 
    num_classes=20, 
    sparse_feat='creative_id', 
    embed = 'embedding_creative_id_300.npy',
    dropout = 0.2,
    required_improvement = 1000,
    num_epochs = 2,
    batch_size = 128,
    learning_rate = 1e-3,
    hidden_size = 128
)

X_train = pd.read_feather(config.train_path)
vocab_dict, train_data = build_dataset(config,['y'],X_train)
config.n_vocab = len(vocab_dict)

2020-05-19 16:48:18,601 - utils.utils - INFO - ../data/creative_id_vocab.pkl has been loaded

In [6]:
X_train.head()

,user_id,creative_id,age,gender,y,len_creative_id,creative_id_to_idx
0,1,"[877468, 821396, 209778, 1683713, 122032, 7169...",4,1,3,13,"[83214, 388181, 30714, 55758, 1136, 57, 16949,..."
1,2,"[63441, 155822, 39714, 609050, 13069, 1266180,...",10,1,9,45,"[88, 244165, 18, 198, 54, 2940, 128, 575, 9150..."
2,3,"[661347, 808612, 710859, 825434, 593522, 72694...",7,2,16,30,"[8220, 806960, 4592, 26226, 4090, 1982, 23661,..."
3,4,"[39588, 589886, 574787, 1892854, 31070, 196270...",5,1,4,29,"[82943, 8810, 31918, 7163, 5912, 462469, 1176,..."
4,5,"[296145, 350759, 24333, 43235, 852327, 1054434...",4,1,3,33,"[292289, 664755, 12, 37484, 1203, 8240, 82674,..."

In [7]:
train_data[:50]

[([83214,
   388181,
   30714,
   55758,
   1136,
   57,
   16949,
   2454,
   3188,
   1809,
   17863,
   1809,
   124198],
  3,
  13),
 ([88,
   244165,
   18,
   198,
   54,
   2940,
   128,
   575,
   9150,
   321,
   1821,
   2224,
   934,
   39,
   39,
   150,
   14,
   1494,
   1671,
   14,
   575,
   734243,
   823,
   79,
   43166,
   1129225,
   949822,
   2612,
   1423351,
   347,
   567901,
   530,
   1099310,
   3226,
   6629,
   953,
   61980,
   369744,
   22632,
   11981,
   338,
   877,
   800,
   369399,
   211058],
  9,
  45),
 ([8220,
   806960,
   4592,
   26226,
   4090,
   1982,
   23661,
   19612,
   1142,
   1311519,
   86609,
   248763,
   12059,
   1489751,
   127741,
   101147,
   157230,
   49302,
   1803034,
   2753459,
   137230,
   28,
   25284,
   13352,
   552,
   5317,
   38386,
   117,
   28347,
   269],
  16,
  30),
 ([82943,
   8810,
   31918,
   7163,
   5912,
   462469,
   1176,
   462450,
   727301,
   977,
   1647299,
   9181,
   5451,
   4427,
   5271,
   168295,
   611831,
   445042,
   1030,
   9410,
   669,
   67702,
   9788,
   6184,
   4447,
   1114742,
   8962,
   45752,
   401],
  4,
  29),
 ([292289,
   664755,
   12,
   37484,
   1203,
   8240,
   82674,
   3126,
   373,
   1694,
   18636,
   6835,
   259346,
   226706,
   251779,
   9413,
   1228,
   14846,
   337561,
   668640,
   118492,
   1076057,
   341950,
   10228,
   559702,
   504509,
   953621,
   5754,
   56370,
   9105,
   1501327,
   84622,
   398604],
  3,
  33),
 ([491525,
   279344,
   317296,
   41559,
   58506,
   6159,
   1371467,
   680,
   914,
   26018,
   68,
   914,
   39427,
   300770,
   124836,
   43202,
   49100],
  5,
  17),
 ([42191, 295, 156379, 25369, 26, 1091199, 768274, 10205, 335260, 3145],
  15,
  10),
 ([6365,
   337163,
   134,
   2113,
   907,
   1545,
   72354,
   2248856,
   157308,
   7267,
   66,
   9876,
   30715,
   7971,
   719797,
   201,
   3649,
   1235,
   1054762,
   494,
   38589,
   6115,
   34,
   53,
   1376,
   515366,
   3403,
   53,
   94188,
   193857,
   460,
   1038,
   58685,
   673186,
   1510,
   12205,
   180962,
   26940,
   3017230,
   360091,
   26856,
   1433,
   105321,
   12945,
   2098202,
   2076811,
   1502718,
   11151,
   4860],
  4,
  49),
 ([2417,
   79021,
   79021,
   49857,
   112312,
   517896,
   113690,
   113690,
   216736,
   35375,
   113690,
   47595,
   60267,
   53,
   23416,
   381710,
   17889,
   34042,
   112346,
   4860],
  4,
  20),
 ([119834, 16, 18713, 176272, 499057, 81, 81, 580, 332, 2194], 18, 10),
 ([130, 203, 1354821, 1133, 1133, 51, 5, 14629, 525362, 467807], 17, 10),
 ([77,
   379,
   1455,
   114265,
   291732,
   585246,
   908202,
   753,
   144,
   753,
   4600,
   144,
   12486],
  4,
  13),
 ([1881,
   1168,
   432864,
   1462512,
   34938,
   16890,
   41,
   107,
   41,
   6773,
   35584,
   7785,
   8723,
   2895,
   752,
   16211,
   22703,
   1889,
   9297,
   52994,
   1889,
   82657,
   456,
   38608,
   3007275,
   6981,
   46720,
   582691,
   3846,
   289727,
   143775,
   2168,
   254255,
   8340,
   187900,
   56970,
   54264,
   2713661,
   5327,
   912771,
   9521,
   252425,
   1420461,
   35754,
   25411,
   2365434],
  15,
  46),
 ([2003,
   17896,
   402325,
   23016,
   1159,
   333,
   2003,
   2003,
   27315,
   21101,
   43839,
   50138,
   126364,
   3746,
   5335,
   760,
   19097,
   6197,
   7177,
   1606,
   760,
   1150150,
   102954,
   7026,
   76038,
   1091,
   17306,
   49,
   2451198,
   16692,
   1290,
   1359266,
   108943,
   172467,
   2003,
   56810,
   8827,
   216,
   2003,
   216,
   599,
   396,
   599,
   24516,
   46733,
   44026,
   1424111,
   334,
   117,
   3704,
   2003,
   3705,
   2116395],
  6,
  53),
 ([35337,
   273142,
   968,
   696138,
   6344,
   82150,
   21296,
   8287,
   6489,
   1279779,
   34,
   239343,
   799405,
   15473,
   40606,
   8453,
   14065,
   960184,
   1732,
   250,
   10536,
   288949,
   82293,
   157,
   3217,
   149828,
   31453,
   157,
   19489,
   9666],
  14,
  30),
 ([543,
   453334,
   146,
   52,
   52795,
   69714,
   627,
   639,
   187,
   181,
   1323180,
   3022,
   2751,
   473,
   61152,
   77,
   14456,
   161],
  12,
  18),
 ([12218,
   80220,
   16,
   253,
   253,
   672960,
   1255,
   44,
   44,
   838,
   251,
   290820,
   17365,
   58425,
   44,
   221666,
   838,
   2893,
   161656,
   2893,
   6952,
   1189,
   34074,
   79648,
   1313986,
   11624,
   1427241,
   508,
   91112,
   3785,
   1116720,
   21795,
   125494,
   15892,
   204350,
   1868654,
   565994,
   119633,
   10681,
   775374,
   189663,
   58219,
   85735,
   1848,
   1973,
   717,
   273957,
   200397,
   35709,
   499505,
   70247,
   2839186],
  2,
  52),
 ([3297, 35902, 213, 171, 31, 192, 95, 31, 2134, 704, 37, 34720, 26206, 92320],
  11,
  14),
 ([4319,
   784,
   3981,
   764,
   27936,
   382,
   2764,
   3821,
   553187,
   35482,
   2561,
   6404,
   770017,
   16208,
   4928,
   1306,
   4358,
   192,
   674,
   542,
   114172,
   443,
   764,
   5388,
   13398,
   2208,
   367535,
   1760655,
   526547,
   1008508,
   61967,
   22147,
   3074,
   5838,
   1280,
   240166,
   23],
  2,
  37),
 ([70577,
   72,
   2039,
   120544,
   14,
   87726,
   27835,
   11795,
   19,
   123811,
   4069,
   21278,
   215477,
   97],
  3,
  14),
 ([166856, 47339, 1542533, 10, 1, 249553, 2729434, 1822253, 188, 101823],
  15,
  10),
 ([2734,
   12298,
   3018,
   2375,
   208,
   50,
   441,
   5174,
   2805,
   327,
   573,
   1193580,
   264635,
   1048],
  3,
  14),
 ([3924,
   27255,
   1920211,
   668507,
   7966,
   83565,
   16231,
   3840,
   1379817,
   38026,
   777254,
   616,
   10963,
   312,
   1493949,
   4999,
   415350,
   1314,
   104457,
   7508,
   13318,
   35455,
   283,
   185080,
   36342,
   9756,
   55765,
   857125,
   140862,
   328929,
   11085,
   334661,
   13551,
   1390356],
  14,
  34),
 ([61892, 39339, 117159, 1167, 32676, 9640, 1494, 23415, 24996, 18357],
  10,
  10),
 ([21764,
   1222704,
   2616747,
   98,
   6771,
   67,
   26606,
   67,
   1586,
   16239,
   22661,
   7915,
   5813,
   10341,
   45923],
  15,
  15),
 ([83780,
   322677,
   1368838,
   500209,
   407870,
   1851239,
   1565883,
   50966,
   365996,
   609445,
   1822,
   188,
   15769,
   57028,
   3660,
   131701],
  13,
  16),
 ([503,
   89354,
   120,
   4543,
   4461,
   139527,
   26059,
   331,
   604243,
   170277,
   232,
   482077,
   857,
   107437,
   7940,
   2193,
   62461,
   3122764,
   898,
   7034,
   2,
   1183,
   2008416,
   24799,
   1506,
   1673,
   11173,
   2813,
   3034,
   1439121,
   1506,
   917,
   1673,
   1816,
   10380,
   358,
   527,
   1816,
   33,
   29628,
   815752,
   358,
   453,
   2431,
   93,
   1393798,
   161569,
   383,
   9765,
   354645,
   369,
   121363,
   7515,
   205645,
   981,
   882,
   25505,
   164744,
   211753,
   843610,
   161569,
   537074,
   33,
   66164,
   106761,
   81234,
   7370,
   51847,
   46008,
   307,
   201,
   103841,
   163966,
   2183,
   15724,
   5807,
   2578,
   4544,
   983],
  3,
  79),
 ([16982, 3214905, 24, 368, 1619, 845, 28219, 97695, 38, 22870, 132094],
  11,
  11),
 ([1037,
   2,
   395,
   189729,
   91674,
   91674,
   91674,
   3197172,
   102461,
   278259,
   278259,
   440,
   165757,
   7218,
   378,
   112865,
   606853,
   18118,
   2085246,
   40685,
   406013,
   1039757,
   2948,
   109491,
   133176,
   401732,
   536141],
  8,
  27),
 ([4333,
   835,
   1516,
   35,
   1438,
   45,
   4612,
   0,
   515823,
   32,
   22746,
   0,
   2301,
   1530,
   9274,
   0,
   15236,
   4099,
   45,
   3,
   1715915,
   6,
   83,
   223,
   6,
   200,
   83,
   8,
   45,
   6,
   4351,
   7616,
   2063,
   55970],
  3,
  34),
 ([71827,
   161819,
   57753,
   5834,
   129190,
   7056,
   289215,
   30445,
   1582,
   121622,
   31874,
   194028,
   1702256,
   338627,
   3344,
   54934,
   189342,
   231922,
   5375,
   32673,
   4504,
   359132,
   156085,
   45357,
   97944,
   1191111],
  4,
  26),
 ([626,
   1099,
   3283,
   1316,
   2992,
   7396,
   49337,
   12422,
   74,
   6017,
   8357,
   716551,
   18173,
   98134,
   1061414,
   30669,
   33282,
   133484,
   97281,
   69097,
   195105,
   100,
   151986,
   7403,
   29402,
   37963,
   94991],
  1,
  27),
 ([25864,
   4459,
   3340,
   1399,
   301,
   1065,
   47977,
   767,
   9027,
   55,
   81415,
   3703,
   197911,
   20652,
   100953,
   297,
   2048511,
   265,
   78010,
   6706,
   21,
   525,
   72325,
   1773,
   6702,
   2536,
   1829,
   482,
   6659,
   26,
   55,
   15187,
   9575,
   14912,
   80,
   3491,
   16008,
   527248,
   27,
   1166,
   30381,
   43221,
   49318,
   20,
   220765,
   38760,
   89118,
   4132,
   27,
   133,
   972586,
   27,
   10091,
   27,
   20,
   35366,
   286,
   259663,
   27,
   958,
   17119,
   19664,
   79965,
   2309],
  2,
  64),
 ([182382,
   238630,
   1362603,
   352362,
   163,
   309529,
   31535,
   241330,
   132,
   173007,
   460898,
   520557,
   9478,
   130727,
   2404,
   428,
   5559,
   489,
   9273,
   71868,
   277731,
   546930,
   12105,
   209,
   288747,
   46406,
   317662,
   280082,
   722442,
   534,
   23921,
   553365,
   1184,
   53766,
   14088,
   236208,
   86274,
   1856,
   163,
   39270,
   2404,
   659449,
   185869,
   2,
   240,
   3437,
   28,
   991,
   86,
   63470,
   423101,
   19817,
   3123478,
   378,
   432035,
   1095,
   819,
   2211,
   889,
   1033670,
   49335,
   14551,
   3421],
  7,
  63),
 ([2185,
   2029,
   2417,
   827504,
   41041,
   8443,
   63655,
   46269,
   87,
   669861,
   1116,
   1426,
   246433,
   59325,
   261806,
   191570],
  16,
  16),
 ([605,
   614239,
   34118,
   1345,
   28778,
   54832,
   23251,
   1539852,
   51868,
   20150,
   2002853,
   571575,
   2723098,
   1032426,
   367310,
   1402389,
   73505,
   221376,
   413888],
  5,
  19),
 ([694002,
   1065,
   190510,
   217848,
   220816,
   185,
   1092199,
   33785,
   145306,
   185,
   11203,
   61188,
   54640,
   500056,
   202882,
   265,
   525,
   31835,
   43379,
   661720,
   33901,
   1065,
   3757,
   29784,
   391,
   21390,
   589,
   16,
   4913,
   54649,
   2221,
   94450,
   25455,
   173947,
   57233,
   399402,
   520,
   401459,
   147247,
   314633,
   1284,
   3657,
   137,
   7745,
   483,
   1284,
   36494,
   265,
   301321,
   391,
   35703,
   9615,
   265,
   1284,
   12559,
   501,
   73299,
   2844721,
   376046,
   1008529,
   171383,
   102229,
   119040,
   66875,
   12720,
   14455,
   39694,
   2674776,
   1636957,
   14157,
   153750,
   21174,
   50806,
   251142,
   112235,
   13,
   4092,
   61,
   53783,
   271187,
   22671,
   101049,
   125744,
   25132,
   76882,
   15082,
   25132,
   13,
   127677,
   23012,
   13,
   121959,
   105764,
   2929,
   1642,
   488358,
   121781,
   35680,
   86813,
   38,
   10280,
   10280,
   72074,
   53793,
   1284,
   61,
   573,
   87130,
   146719,
   1,
   75255,
   2149,
   47628,
   176590,
   11717,
   69986,
   87416,
   203168,
   1910727,
   4675,
   237742,
   93117,
   449,
   2533,
   1284,
   2612573,
   42502,
   32374,
   59293,
   1845276,
   71020,
   48484,
   3685,
   1895,
   3685],
  3,
  135),
 ([24400,
   86738,
   5050,
   177318,
   344410,
   104267,
   5921,
   4424,
   212635,
   223609,
   754453,
   1332,
   5545,
   12831,
   43640,
   4645,
   8879,
   6782,
   791898,
   2639,
   501987,
   56906,
   54326,
   429087,
   20488,
   42,
   5141,
   220044],
  1,
  28),
 ([4631,
   808,
   255,
   415468,
   1019,
   11308,
   8479,
   133407,
   33907,
   951,
   310,
   5297,
   15576,
   3313,
   92320],
  2,
  15),
 ([2793484,
   5646,
   870,
   170284,
   3124,
   4495,
   983,
   88451,
   15,
   6769,
   133273,
   13114,
   471656,
   71517,
   1950,
   141706,
   1441,
   601306,
   42],
  5,
  19),
 ([128549,
   98356,
   7608,
   175622,
   102712,
   179640,
   95739,
   154,
   90280,
   57300,
   27578,
   43043,
   973866,
   96,
   252841,
   416,
   16731,
   251707,
   186775,
   9019,
   7169,
   707685,
   211066,
   5362,
   22014,
   3211681,
   10340,
   222189,
   2408,
   57491,
   14188],
  5,
  31),
 ([2296,
   134,
   1482,
   746098,
   862406,
   34769,
   34768,
   82327,
   46113,
   5491,
   42593,
   423,
   759269,
   123283,
   2252856,
   156510,
   29190,
   1533082,
   279101,
   98696,
   1146,
   221676,
   400236,
   449846,
   70,
   873745,
   355191,
   290700,
   307],
  13,
  29),
 ([55, 8480, 143, 107273, 4238, 55, 2390, 2360239, 20, 3833, 69567], 8, 11),
 ([19514,
   19514,
   71,
   5872,
   51789,
   317,
   784,
   5584,
   2561,
   46583,
   174,
   159874,
   53932,
   38138,
   12478,
   889,
   14665,
   1060,
   107984,
   12007,
   504,
   889],
  0,
  22),
 ([454,
   514260,
   1269,
   40122,
   1713,
   1172,
   169826,
   28055,
   7351,
   830532,
   405,
   333208,
   1166607,
   203463,
   195314,
   5163],
  3,
  16),
 ([1092,
   276108,
   8943,
   1400,
   251216,
   100246,
   21703,
   7229,
   13089,
   451461,
   30440,
   310774],
  3,
  12),
 ([531,
   26331,
   4140,
   1307,
   5030,
   1166684,
   476,
   17038,
   20591,
   183238,
   46297,
   41,
   45837,
   93825,
   141796,
   16347,
   13419,
   875632,
   54816,
   639,
   7358,
   24483,
   6362,
   14252,
   7455,
   108125,
   47,
   3520,
   27863,
   2899,
   159,
   810,
   334,
   2823382,
   274,
   7463,
   155,
   5516,
   16943,
   26028,
   24326,
   25943,
   509520,
   653089],
  6,
  44),
 ([58917,
   26,
   1087,
   102948,
   2646,
   45877,
   491863,
   82,
   21,
   57484,
   26,
   110098,
   131814,
   333971,
   66742,
   388530,
   60,
   583153,
   3250],
  13,
  19),
 ([371,
   56,
   367,
   1102,
   209632,
   1162,
   448418,
   30,
   657,
   280095,
   30766,
   2311,
   115261,
   870051,
   3727,
   657,
   162497,
   21194,
   39619,
   43896,
   312,
   22860,
   9288,
   155,
   472,
   264,
   2134,
   2078207,
   65497,
   348262,
   171118,
   21644,
   816,
   35933,
   4857,
   217650,
   3692,
   8304,
   1487],
  11,
  39),
 ([10394,
   793,
   87120,
   189,
   1374606,
   793,
   1,
   391135,
   10,
   72970,
   1,
   4,
   793,
   198624,
   10009,
   346942],
  4,
  16)]